.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app h1 {
  color: rgba(255, 255, 255);
  margin: 10px;
  font-size: 72px;
}

.app h2 {
  color: rgba(255, 255, 255, 0.575);
  margin-top: 50px;
  font-size: 45px;
  font-weight: 500;
}

.search {
  display: grid;
  grid-template-columns: 500px 50px 50px;
}

.search input[type="text"] {
  background: rgba(255, 255, 255, 0.05);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: transparent;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  outline: 0;
}

.search button {
  background: rgba(255, 255, 255, 0.05);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: transparent;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.search .typeReset {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.anime_container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-around;
}

.anime_card {
  width: 225px;
  margin: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.anime_card p {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}

.anime_card .know_more a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #231f20;
  display: inline-block;
  padding: 9px 0;
  width: 100%;
}

.anime_card .know_more a:hover {
  background: #262223;
}
